<header class='top-page-header'>
  <div class="navbar">
    <div class='navbar-header'>
      <ul class='navbar-left'>
        <li><%= link_to 'ロゴだよ', "#", class: "logo" %></li>
        <li><%= link_to 'ホーム', "#", class: "header-link home" %></li>
        <li><%= link_to '遊び方', "#", class: "header-link howtoplay" %></li>
      </ul>
      <ul class='navbar-right'>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, '#', class: "header-link user-nicknama" %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete,class: "header-link logout" %></li>
        <% else %>
          <li><%= link_to 'Signup', new_user_registration_path, class: "header-link sign-up" %></li>
          <li><%= link_to 'Login', new_user_registration_path, class: "header-link login" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>